<h1>Host: <%= @host.name %></h1>

<%= form_with url: "/users/#{@host.id}/viewing_parties", method: :post, local: true do |f| %>
  <%= f.label :duration, "Duration of Party" %>
  <%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime %>
  <%= f.label :date, "Date of Party" %>
  <%= f.date_field :date, min: Date.today %>
  <%= f.label :time, "Time of Party" %>
  <%= f.time_field :time, min: Time.now.strftime("%H:%M") %>
  <%= f.label :check_boxes, "Invite" %>
  <%= f.collection_check_boxes :user_ids, @users, :id, :name %>
  <%= f.submit "Create Viewing Party" %>
<% end %>